<html>
  <head>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
<body>
<div class="middle">
  <div class="container" id="login">
    <div>
        <form method='post' action='/register' class='form-vertical'>
          <fieldset>
            <legend><strong class='text-info'> Login page</strong></legend>
            <div class="form-group">
              <input class="form-control" name='first_name' autofocus>
            </div>
            <div class="form-group">
              <input class="form-control" name='last_name' autofocus>
            </div>
            <div class="form-group">
              <input class="form-control" name='email' autofocus>
            </div>
            <div class="form-group">
              <input class="form-control" name='password' autofocus>
            </div>
            <div class="form-action">
                <input class='btn.btn-primary' type='submit' value='Login'>
            </div>
          </fieldset>
        </form>
    </div>
  </div>
</div>
</body>
