

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="\" class="brand-logo">Reddit</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">#{username}</a></li>
        <li><a href="signout">signout</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>{sessions}</li>
        <li><a href="signout">signout</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s5 m2">
          <div class="icon-block">
            <h5 class="center">TAGS</h5>
            <p class="light">
                ul
            </p>
          </div>
        </div>

        <div class="col s5 m10">
          <div class="icon-block">
            <h5 class="center">POSTS</h5>
            <p class="light">
            <form method="post" action="/postTag">
              <input type="text" placeholder="TAG" name="tag"></input>
              <textarea name="post" rows="10" cols="40" placeholder="Type here"></textarea>
              <input type="submit" value="submit">
            </form>
            </p>
          </div>
        </div>

</body>
</html>
