/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}


p {
  line-height: 2rem;
}

.nav-wrapper {
  background-color: white;
}

#logo-container{
    margin-left: 50px;
    border-top : 7px grey solid;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.middle{

  margin-left:40%;
  margin-top:10%;
  margin-bottom:
  height:200px;
  width:300px;
  background-color:#ccccff;
  border-radius: 5px;
}

#d{
  margin-left:30%;
  margin-right:30%;
  margin-top:100px;
  border-radius:4px;
  padding:5px;
  background-color: #ECE9E9;

}

#bg{
  background-color: red;
}

.left{
  position:fixed;
  margin-top: inherit;
  display: inline-block;!important
  width :30%;!important
  float :left;!important
  background-color: #c7b3ae;!important
  height :100%;!important
  border-radius: 10px;
}
#qw{
  border-right : 2px black solid;
}
#qwe{
  border-left : 2px red solid;
}
.different{
  position:fixed;
  margin-top:inherit;
  display: inline-block;!important
  width:65%;!important
  float:left;!important
  background-color: red;!important
  height :100%;!important
  border-radius:10px;
}
